@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg,#833ab4,#fd1d1d,#fcb045);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 500px;
    height: 300px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}

.debit{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.front, .back{
    height: 100%;
    width: 100%;
    background: #171717 ;
    position: absolute; 
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.maps{
    width: 50%;
    opacity: 0.1;
    position: absolute; 
    top: 28px;
    left: 125px;
    z-index: -1;
}

.number{
    font-size: 35px;
    margin-top: 60px;
}

.name{
    margin-top: 40px;
    font-size: 12px;
}

.details{
    font-size: 22px;
    margin-top: 20px;
}

.map1{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
}

.strip{
    background: #08070d;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}

.cvv{
    margin-top: 20px;
}
.cvv div{
    flex: 1;
}

.cvv img{
    width: 100%;
    display: block;
    line-height: 0; 
}

.cvv p{
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 10px 20px;
}

.text{
    margin-top: -262px;
    font-size: 10px;
    margin-left: -20px;
}

.SIGNATURE{
    margin-top: 90px;
}

.back{
    transform: rotateY(180deg);
}

.card:hover .debit{
    transform: rotateY(-180deg);
}

.wifi{
    margin-left: -235px;
}